
    <% brands.forEach(temp => { %>
        <div class="card w-25 " style="">
        <img src="<%= temp.image %>" class="card-img-top " style="display: block;object-fit:contain; height: 35% !important; vertical-align: middle !important;
        " alt="...">
  
        <div class="card-body align-content-center">
          <h5 class="card-title"><%= temp.title %></h5>
          <p class="card-text"><%= temp.content %></p>
          <a href="#" class="btn btn-primary ">göz at</a>
        </div>
    </div>    
    <% }) %>


  