<nav class="navbar bg-black sticky-top">
    <div class="container-fluid">
      <div class="navbar">
        <a class="navbar-brand" href="#" style="color: white;">Icon</a>
        <a class="navbar-brand" href="#" style="color: white;">Markalar</a>
        <a class="navbar-brand" href="#" style="color: white;">Modeller</a>
        <a class="navbar-brand" href="#" style="color: white;">Satış</a>
        <a class="navbar-brand" href="#" style="color: white;">Servis</a>
      </div>
      
      <div class="navbar">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="border-color: aliceblue; background-color: aliceblue;">
          <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Seçenekler</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Hakkımızda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">İletişim</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Hesap
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Giriş Yap</a></li>
                  <li><a class="dropdown-item" href="#">Kaydol</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Aramak istediğinizi buraya giriniz." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Ara</button>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </nav>