<div class="slideshow-container">
   <% for( let i = 0; i < slide_image.length; i++ ) { %>
    <div class="mySlides fade2 ">   
        <div class="numbertext"><%= i+1 %> / <%= slide_image.length %></div>
        <img src="<%= slide_image[i].image %>" style="width:100%">
        <div class="text"><%= slide_image[i].text %></div>
      </div>
   <% } %>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>