
body{
    background:   #0C1844;
}

.content {
    
    background:   #1c233a;
    
}


.form-container {
    
    
    /* Bulanıklaştırma efekti */
    
    color: rgb(0, 0, 0); /* Yazı rengini siyah yap */
}







.login_square{
    transform: translate(0,50%);    
    min-height: 400px;
    
    
}

.write{
    color:rgb(255, 255, 255)
}
form{
    background-image:none !important;
}