body{
background-image: url('../images/free.jpg');
background-size: cover;
background-repeat: no-repeat;
}

.container.containera{
    background-color: rgba(255, 0, 0, 0.315);
    height:60vh;
    width: 40%;
    transform: translate(0,25%);
    border-radius: 40px;
    padding: 3% 3%;
    align-items: center;
}

.content{
    background-color: rgb(179, 60, 60);
    color:aliceblue;
    font-size: x-large;
}

.input{
    background-color: rgb(179, 60, 60);
    color:aliceblue;
    font-size: x-large;
}

.text{
    color:aliceblue;
    font-size: x-large;
}
