body{
background-image: url('../images/free.jpg');
background-size: cover;
background-repeat: no-repeat;



}



.container.containera{
    background-color: rgba(68, 38, 38, 0.397);
    height:55vh;
    width: 50%;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.content{
    background-color: rgb(179, 60, 60);
    color:aliceblue;
    font-size: x-large;
}

.input{
    background-color: rgb(179, 60, 60);
    color:aliceblue;
    font-size: x-large;
}

.text{
    color:aliceblue;
    font-size: x-large;

}

.link{
    font-size: large;
    color: aliceblue;
}
.link:hover{
    color: rgba(255, 255, 255, 0.644);
}
