
body{
    background-image: url('../images/register.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container.content {
    background-color:rgba(39, 32, 32, 0.452);
    backdrop-filter: blur(3px);
    border-radius: 40px;
    width: 50%;
}









.login_square{
    transform: translate(0,35%);    
    min-height: 55vh;
    
    
}

.write{
    color:rgb(0, 0, 0);
    background-image: none !important;
    font-size:larger;
}


.text{
    color:rgb(255, 255, 255);
    background-image: none !important;
    font-size:larger;
}