<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
</head>
<body>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-4">
                        <h1>Log In</h1>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <div class="row">
                    <div class="col-md-4 content"><h1>Username</h1></div>
                    <div class="col-md-4 input"></div>
                    <div class="col-md-4"></div>
                </div>

                <div class="row">
                    <div class="col-md-4"><h1>Password</h1></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
    
</body>
</html>