<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',title="Blog Sayfası") %>
    <link rel="stylesheet" href="static/css/main.css">
    
</head>
<body>

        
    <%- include('../partials/nav',{nav_items,who_active,main_Page}) %>
            
    <div class="container mt-3 " style="border: 10px;width: 200px ; height:200px">
       
  
    </div>

    
    
    
</body>
</html>