<a href="javascript:void(0);" class="list-group-item list-group-item-dark disabled" style="background-color: #CED4DA;">Tüm Kategoriler</a>
<% categories.forEach(function (categories){ %>
    <a href="<%=directory_menu+categories.id %>"  class="list-group-item list-group-item-warning <%= categories.id == SelectedCategory ? 'active':''%>" > <%= categories.name %> </a>
    
<%  
}) %>